<div class="npbm_files_upload_container">

	<span href="#" class="npbm_files_upload button">
		<span class="dashicons dashicons-media-document"></span>
		Upload PDF
	</span>

	<input type="hidden" name="{{name}}" id="{{name}}" value="{{value}}" />

	<a href="{{url}}" target="_blank" style="display:{{#empty}}none{{/empty}}{{^empty}}inline-block{{/empty}};">{{url}}</a>

	<a href="#" class="npbm_files_remove" style="display:{{#empty}}none{{/empty}}{{^empty}}inline-block{{/empty}};">Remove PDF</a>
</div>
